@layer tailwind-base, primereact, tailwind-utilities;

@import 'primereact/resources/themes/lara-light-blue/theme.css' layer(primereact);

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html {
    scroll-behavior: smooth;
}


.reels {
  position: relative;
  width: 20px;
  height: 20px;
  background: rgb(77, 232, 244);
  border-radius: 50%;
  animation: leftToRight 0.8s ease-in-out infinite;
  mix-blend-mode: darken;
  transform: scale(1);
}

.reels.red {
  background: rgb(253, 62, 62);
  animation: rightToLeft 0.8s ease-in-out infinite;
}

@keyframes leftToRight {
  0% {
    transform: translateX(0);
    width: 20px;
  }

  25% {
    width: 25px;
  }

  50% {
    transform: translateX(100%);
    width: 20px;
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
}

@keyframes likeAnimation {
  0% {
    transform: rotate(var(--random-rotation, 0deg)) scale(0.75);
    opacity: 0.5;
  }
  100% {
    transform: rotate(var(--random-rotation, 0deg)) scale(1);
    opacity: 1;
  }
}

@keyframes likeAnimation {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

